
/* Panel Styling */

.panel-default {
    margin: 70px 200px;
}

.panel-heading a {
    font-weight: bold;
    text-decoration: no-underline;
    color: #f14444;
}

.panel-heading a:hover,
.panel-heading a:visited,
.panel-heading a:focus,
.panel-heading a:active {
    text-decoration: none;
    color: #cc1b2d;
}




/* Navigation Container Styling */

nav.navbar-main {
    background: #fff;
    border-color: #ccc;
    box-shadow: 0 0 2px 0 #ccc;
    margin-bottom: 100px;
}

/* Navigation Link/Logo Styles */

.navbar-brand {
    font-size: 23px;
}

nav.navbar-main a {
    color: #f14444;
}

nav.navbar-main ul.navbar-nav a:hover,
nav.navbar-main ul.navbar-nav a:visited,
nav.navbar-main ul.navbar-nav a:focus,
nav.navbar-main ul.navbar-nav a:active {
    background: #fff;
}

/* Dropdown Menu Styles */

nav.navbar-main ul.dropdown-menu {
    border: 0; background: #fff;
    border-radius: 4px;
    margin: 4px 0;
    box-shadow: 0 0 4px 0 #ccc;
}


nav.navbar-main ul.dropdown-menu > li > a {
    color: #444;
}

nav.navbar-main ul.dropdown-menu > li > a:hover {
    background: #f14444;
    color: #fff;
}

/* Badge Styles */

nav.navbar-main span.badge {
    background: #f14444;
    font-weight: normal;
    font-size: 11px;
    margin: 0 4px;
}

nav.navbar-main span.badge.new {
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
}


